[submodule "NCF-Library"]
	path = NCF-Library
	url = https://github.com/Project-Rito/NCF-Library.git
[submodule "HKX2Builders"]
	path = HKX2Builders
	url = https://github.com/Project-Rito/HKX2Builders.git
[submodule "Toolbox.Core"]
	path = Toolbox.Core
	url = https://github.com/Project-Rito/Toolbox.Core.git
