name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: recursive
        token: ${{secrets.PULL_PRIVATE_REPOS}}
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet publish -c Release -r win-x64
    - name: Upload build results
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: /home/runner/work/ProjectRito-Dev/ProjectRito-Dev/MapStudio/bin
    - name: Test
      run: dotnet test --no-build --verbosity normal
