name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Upload build results
      uses: actions/upload-artifact@v2
      with:
        name: build-${{ matrix.dotnet-version }}
        path: /home/runner/work/ProjectRito-Dev/ProjectRito-Dev/MapStudio/bin
    - name: Test
      run: dotnet test --no-build --verbosity normal
